<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a reliable and determined media informatics student who enjoys combining creative work and logical thinking.</p>
      </div>
      <div class="col-lg-4">
        <p>I am interested in software development, UI/UX design as well as frontend and backend programming and am always motivated to acquire new knowledge and improve my skills.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="cv/Lilly_Bernhardt_CV_github.pdf" class="btn btn-lg btn-outline">
          <i class="fa-solid fa-file"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
