<!-- Video demo site -->
<!-- video-page.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo video</title>
</head>
<body>
    <div>
        <video width="100%" controls>
            <source src="{{ post.demo }}" type="video/mp4">
            Dein Browser unterstützt dieses Videoformat nicht.
        </video>
    </div>
    <button onclick="window.location.href='index.html'">Zurück zur Hauptseite</button>
</body>
</html>
